@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Playfair Display";
}

:root {
  --black: #000000;
  --white: #fcfcfc;

  --primary: #72e860;
}

body {
  width: 100vw;
  height: 100vh;
}

main {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  text-align: center;

  background: url("assets/background.png") 0% 0% no-repeat;
  background-size: cover;
}

@keyframes MOVE-BG {
  0% {
    background-position: top;
  }
  50% {
    background-position: bottom;
  }
  100% {
    background-position: top;
  }
}

main h1 {
  font-weight: normal;
  color: var(--white);
}

.wrapper-social {
  width: 100%;
  max-width: 140px;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.button-social {
  display: block;
  margin-top: 1.2rem;

  font-size: 1.7rem;
  color: var(--white);
}

.diiwaa-concept-logo {
  width: 800px;
}

@media (max-width: 768px) {
  .diiwaa-concept-logo {
    width: 90%;
  }

  .button-social {
    display: block;
    margin-top: 0.6rem;

    font-size: 1.4rem;
    color: var(--white);
  }
}
